.Course {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1rem;
  padding: 0.8rem 0.8rem;
}

.Course li {
  position: relative;
  transition: opacity 0.4s linear;
}

.Course li.striked {
  opacity: 0.3;
}

.Course li.striked:before {
  animation: strikeitem 0.3s ease-out 0s forwards;
  background: white;
  content: '';
  display: block;
  height: 0.1rem;
  left: -0.2rem;
  position: absolute;
  top: 50%;
  width: 0%;
}

@keyframes strikeitem {
  to {
    width: calc(110%);
  }
}

.Course .buttons {
  flex-shrink: 0;
  padding-left: 0.7rem;
}

.Course .buttons button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.4rem;
  -webkit-appearance: none;
}

.Course form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Course form input {
  background: #f7f1f1;
  border: none;
  border-radius: 1rem;
}

.Course form input.courseName {
  padding-left: 1rem;
  width: 50%;
}

.Course form input.credits {
  text-align: center;
  width: 15%;
}

.Course form input.grade {
  text-align: center;
  width: 15%;
}

.Course form button {
  background: #ff66;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  width: 15%;
}

.Course form button:hover {
  background: #aad36b;
}

.Course form input,
.Course form button {
  font-family: 'Quicksand', sans-serif;
  height: 2rem;
}
