.CourseList {
  margin: 1.5rem auto;
  padding: 1rem 1.5rem 2rem 1.5rem;
  max-width: 500px;
  color: white;
}

@media screen and (min-width: 500px) {
  .CourseList {
    border: 1.5px white solid;
  }
}

.CourseList h1 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.CourseList h1 span {
  display: block;
  font-size: 0.7rem;
  margin: 0.4rem auto;
  margin-left: 0.2rem;
}

.CourseList button {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.7rem;
  outline: none;
}

.CourseList .buttons .selected {
  background: deepskyblue;
  color: white;
}

.CourseList ul {
  margin-top: 2.6rem;
  list-style: none;
}

.CourseList h2 {
  color: azure;
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin: 1rem 0 -1rem 0;
}
